/build
*_tb
*.vcd
**/tb
*.pyc
**/.Xil
*.ilang
**/build
**/compile_commands.json
**/*.log
**/obj_dir
**/formal
**/results.xml
**/taps
libdigital/hdl/window/roms/coeffs.hex
/libdigital/hdl/filters/fir_poly/scripts/freq_response.png
